<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Tres Beaux</title>

    <!-- slider stylesheet -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css"
    />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Dosis:500|Raleway:400,600,700&display=swap"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet" />

    <!-- responsive style -->
    <link href="/static/css/responsive.css" rel="stylesheet" />
  </head>

  <body class="sub_page">
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <button
              class="navbar-toggler ml-auto"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div
                class="d-flex ml-auto flex-column flex-lg-row align-items-center"
              >
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/home"
                      >Home <span class="sr-only">(current)</span></a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/home#aboutus"> About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/home#product">Product </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/cart"
                      ><img src="/static/images/cart.png"
                    /></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <div class="site-wrap" style="padding-top: 50px">
      <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0">
              <a href="/home">Home</a> <span class="mx-2 mb-0">/</span>
              <strong class="text-black">My Basket</strong>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section">
        <div class="container">
          <div class="row mb-5">
            <form class="col-md-12" method="post">
              <div class="site-blocks-table">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="product-thumbnail">Image</th>
                      <th class="product-name">Product</th>
                      <th class="product-price">Price</th>
                      <th class="product-quantity">Quantity</th>
                      <th class="product-total">Total</th>
                      <th class="product-remove">Remove</th>
                    </tr>
                  </thead>
                  <tbody class="my-product-container"></tbody>
                </table>
              </div>
            </form>
          </div>

          <div class="row cart">
            <div class="col-md-6 updateCart">
              <div class="row mb-5">
                <!-- <div class="col-md-6 mb-3 mb-md-0 updateCart">
                <button class="btn btn-primary btn-sm btn-block" onclick="updatecart()">
                  Update Cart
                </button>
              </div> -->
                <div class="col-md-6 updateCart">
                  <a
                    class="btn btn-outline-primary btn-sm btn-block"
                    href="/home"
                  >
                    Continue Shopping
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-5 cart">
              <div class="row justify-content-end">
                <div class="" style="flex: 1">
                  <div class="row">
                    <div class="col-md-12 text-right border-bottom mb-5">
                      <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-md-6">
                      <span class="text-black">Subtotal : </span>
                    </div>
                    <div class="col-md-6 text-right">
                      <strong class="text-black total">$0</strong>
                    </div>
                  </div>
                  <div class="row mb-5">
                    <div class="col-md-6">
                      <span class="text-black">Total</span>
                    </div>
                    <div class="col-md-6 text-right">
                      <strong class="text-black total">$0</strong>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <button
                        class="btn btn-primary btn-lg py-3 btn-block"
                        onclick="submit()"
                      >
                        Proceed To Checkout
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- info section -->
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div
              class="info-logo"
              style="margin-left: 50%; transform: translateX(-30%)"
            >
              <a href="">
                <img
                  src="/static/images/tres_hair_light.svg"
                  style="width: 60%"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info_section -->

    <script
      type="text/javascript"
      src="/static/js/jquery-3.4.1.min.js"
    ></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"
    ></script>
    <!-- end google map js -->

    <script type="text/javascript">
      function reload() {
        let itemPriceTotal = 0.0;
        let items = localStorage.getItem("cart");
        items = JSON.parse(items);
        console.log(items);
        items.map((item,index) => {
          console.log(
            itemPriceTotal,
            parseFloat(item.price) * parseFloat(item.quantity)
          );
          if (Object.values(item).length > 0) {
            itemPriceTotal =
              itemPriceTotal +
              parseFloat(item.price) * parseFloat(item.quantity);
            $(".my-product-container")
              .append(`<tr style="font-family: fangsong ; font-size: 20px;" id="${index}">
                    <td class="product-thumbnail">
                      <img src=${
                        item.productImage
                      } alt="Image" class="img-fluid" />
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">${item.product}</h2>
                    </td>
                    <td>Rs.${item.price}</td>
                    <td style="display: flex; padding: 90px 8px !important; justify-content: center;" >
                      <div class="input-group mb-3" style="max-width: 135px">
                        <input type="text" class="form-control text-center" value=${
                          item.quantity
                        } placeholder=""
                          onkeyup="updateQuantity(this)" aria-label="Example text with button addon"
                          aria-label="Example text with button addon" aria-describedby="button-addon1" style="font-size:20px" />
                      </div>
                    </td>
                    <td>${
                      parseFloat(item.price) * parseFloat(item.quantity)
                    }</td>
                    <td><button  class="btn btn-primary btn-sm" onclick="remove(this)">X</button></td>
                  </tr>`);
          }
        });

        $(".total")[0].innerHTML = itemPriceTotal;
        $(".total")[1].innerHTML = itemPriceTotal;
      }
      $(document).ready(function () {
        reload();
      });
    </script>

    <script type="text/javascript">
      function updateQuantity(e) {
        let index=e.parentNode.parentNode.parentNode;
        let price=parseInt(index.getElementsByTagName("td")[2].innerHTML.split(".")[1]);
        let total=index.getElementsByTagName("td")[4];
        let qty=e.value;
        if(e.value=="")return;
        let newtotal=price*qty;
        total.innerHTML=newtotal;
        let items = localStorage.getItem("cart");
        console.log(qty);
        items = JSON.parse(items);
        items=items.map((item,idx)=>{
          if(idx==index.id){
            item.quantity=qty;
          }
          return item;
        });
        console.log(items);
        localStorage.setItem("cart",JSON.stringify(items));
        window.location.reload();
      }

      function remove(e){
        let index=e.parentNode.parentNode;
        let items = localStorage.getItem("cart");
        items = JSON.parse(items);
        items=items.filter((item,idx)=>{
          if(idx==index.id){
            return false;
          }
          return true;
        });
        console.log(items);
        localStorage.setItem("cart",JSON.stringify(items));
        window.location.reload();
      }
    </script>
    <script>
      document.addEventListener("contextmenu", (event) => {
        event.preventDefault();
      });
      function submit() {
        window.location.href = "/checkout";
      }
    </script>
  </body>
</html>
