

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Tres Beaux</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:500|Raleway:400,600,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />



  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/home#aboutus"> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/home#product">Product </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/cart"><img src="/static/images/cart.png" /></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <div class="site-section">
    <div class="container" style="max-width: 90%;">

      <div class="row" style="justify-content: center;">
        <form method="post" name="formName" action="/order" id="contact-form">
          <div class="col-xs-6 width-fixes mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Billing Details</h2>
            <div class="p-3 p-lg-5 border">
              
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">Name <span class="text-danger">*</span></label>
                  <input type="textarea" class="form-control" id="con_name" name="con_name"
                    placeholder="Enter Your Name" required />
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                  <textarea type="textarea" class="form-control" id="c_address" name="con_address"
                    placeholder="Street address" required ></textarea>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">Phone Number <span class="text-danger">*</span></label>
                  <input type="tel" class="form-control" id="c_address" name="con_phone"
                    placeholder="Enter your Number" required />
                </div>
              </div>



              <div class="form-group row mb-5">
                <div class="col-md-12 width-fixes">
                  <label for="c_email_address" class="text-black">Email Address <span
                      class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_email_address" name="con_email" value="" placeholder="Enter your email Id"required/>
                </div>
             
              </div>

             
         
            </div>
          </div>
          <div class="col-xs-6 width-fixes">
        

            <div class="row mb-5">
              <div class="col-md-12" >
                <br><br>
                <h2 class="h3 mb-3 text-black">Your Order</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Product</th>
                      <th>Total</th>
                    </thead>
                    <tbody class="your-cart-details">
                    </tbody>
                  </table>

                  <div class="border mb-3" style="display: flex;gap: 20px;padding: 16px; align-items: center;">
                    <h3 class="h6 mb-0" style="padding-right: 6em;">
                      <span class="d-block" style="cursor: default;">Cash On Delivery(COD)</span>
                    </h3>
                    <img class="payment-imag" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fpng-clipart%2F20210530%2Foriginal%2Fpngtree-cash-on-delivery-lettering-with-red-png-image_6334285.png&f=1&nofb=1&ipt=1731f6a9932c0684715d08bd3ccad8b33e70536ec940b275ee1323c7528dbff7&ipo=images" alt="" />
                    

                  </div>

                  <div class="form-group" style="margin-top: 1.9rem;">
                    <button type="submit" id="submit" class="btn btn-primary btn-lg py-3 btn-block place-order" >
                      Place Order
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <input type="hidden" name="items" id="items" value="[]" />
      <script type="text/javascript">
        document.getElementById('contact-form').onsubmit=function(){
          let items=document.getElementById('items');
          let cart=JSON.parse(localStorage.getItem('cart'));
          console.log(items);
          if(cart){
          cart=cart.map(item=>({
            product:item.product,
            quantity:item.quantity,
            price:item.price
          }));
          items.value=JSON.stringify(cart);
          console.log(items.value);
          localStorage.setItem('backup',JSON.stringify(cart) );
          localStorage.setItem('cart',JSON.stringify([]));
        }

      }
      </script>
      </form>
    </div>
  </div>


  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="info-logo" style="margin-left: 50%;transform: translateX(-30%);">
            <a href="">
              <img src="/static/images/tres_hair_light.svg" style="width: 60%;" alt="" />
            </a>
          </div>
        </div>
     
      </div>

    </div>
  </section>

  <!-- end info_section -->

  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
  <!-- end google map js -->

  <script>

    let basketitem = [JSON.parse(sessionStorage.getItem("shampoo")) || {}, JSON.parse(sessionStorage.getItem("mask")) || {}, JSON.parse(sessionStorage.getItem("serum")) || {}, JSON.parse(sessionStorage.getItem("oil")) || {},]
    let itemPriceTotal = 0.0;
    $(".your-cart-details")
    let temp_cart_price = 0;
    let orderDetails="";

    // basketitem.map((item,index) => {
    //   if (Object.values(item).length > 0) {
    //     $(".your-cart-details").append(`                    
    //                 <tr>
    //                   <td name=${(item.product).split(" ").join("")}>
    //                     ${item.product} <strong class="mx-2">x</strong> ${item.quantity}
    //                   </td>
    //                   <td>$${parseFloat(item.price) * parseFloat(item.quantity)}</td>
    //                 </tr>
    //                `)
    //     temp_cart_price += parseFloat(item.price) * parseFloat(item.quantity)
    //     orderDetails +=`  ${item.product} :- (${item.quantity} items)  $ ${parseFloat(item.price) * parseFloat(item.quantity)} price  & \n`;
    //     $("#c_order_details")[0].value = orderDetails;
    //   }
    // })

    let items=JSON.parse(localStorage.getItem('cart'));
    itemPriceTotal=items.reduce((acc,item)=>acc+parseInt(item.price)*item.quantity,0);
    $(".your-cart-details").append(`
      <tr>
          <td class="text-black font-weight-bold">
            <strong>Order Total</strong>
        </td>
        <td class="text-black font-weight-bold">
          <strong>Rs.${itemPriceTotal}</strong>
        </td>
      </tr>`)

    function paymentConfirm() {
      window.location = "/test/thankyou.html"
    }
  </script>
  <script>
    document.addEventListener("contextmenu", (event) => {
      event.preventDefault();
    });
  </script>
</body>

</html>