


<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Tres Beaux</title>

  <!--slick slider stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:500|Raleway:400,600,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/aos.css" />
  

  <script> if(!'$value'){window.location = '/test/admin/login_form.php'} </script>
  <script>localStorage.setItem('username', '$value');</script>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>

<body>
  <div class="hero_area hero">
    <!-- <img id="img" src='/static/images/hero-bg.jpg' style="z-index:-111" />
    <div class="main slick_main">
      <div class="slider slider-for main_img-container">
        <div class="main-img-box b1">
         
        </div>
      </div>
    </div> -->
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#aboutus"> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#product"> Product </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-img" href="/cart"><img src="/static/images/cart.png" /></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header> 

    <style>
      @media screen and (max-width:750px) {
        .hero_area {
          background: transparent;
        }
      }
    </style>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section position-relative">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 px-0">
            <div class="slider_content">
              <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="detail_box text-center">
                      <img alt="" src="/static/images/tres_logo.jpg" style="width: 20%;"/>
                      <br><br>
                      <h1>TRES BEAUX</h1>
                      <p>Good hair reflects your story and your spirit</p>
                      <div class="btn-box">
                        <!-- <a href="/home#aboutus" class="btn-2">About Us</a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="box">
        <div class="img_container">
          <div class="img-box b1">
            <img src="/static/images/a-1.jpg" alt="" />
          </div>
          <div class="img-box b2">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.allure.com%2Fphotos%2F5b465bca5e82550c6a92a10a%2Fmaster%2Fpass%2Fedsfaves-071618-lede.jpg%3Fmbid%3Dsocial_retweet&f=1&nofb=1&ipt=ec32d6b3cf1a90e391570cbb1d2e0d606e2961489fe56e92594ecac28f74a952&ipo=images" alt="" />
          </div>
        </div>
        <div class="detail-box" id="aboutus">
          <br><br><br>
          <h1 >About us</h1>
          <h2>TRES BEAUX</h2>

          <p >
            At Tres Beaux, we understand the importance of having beautiful, healthy hair. Your hair is an essential part of your identity, and we believe that everyone deserves to feel confident and empowered in their own skin. That’s why we have curated a range of premium hair products designed to nourish, enhance, and transform your hair, making you look and feel your best every day.

            At Tres Beaux, we invite you to embark on a transformative hair care journey with us. Experience the difference of premium, natural, and effective hair care products that not only enhance your hair's beauty but also promote its overall health.
          </p>
         
          <!-- <a href="/home#aboutus"> Read More </a> -->
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- portfolio section -->

  <section class="portfolio_section layout_padding-top" id="product">
    <div class="container">
      <div class="heading_container">
        <h2>Products</h2>
        <!-- <p>There are many variations of</p> -->
      </div>
    </div>
    <div class="site-section site-blocks-2">

      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <a class="block-2-item" href="/details1">
              <figure class="image">
                <img src="https://shop.xtntbd.com/wp-content/uploads/2022/12/a-thousand-wishes-super-smooth-body-lotion-236ml.png" alt="" class="img-fluid" />
              </figure>
              <div class="text">
                <span class="text-uppercase">A Thousand Wishes Super Smooth Shampoo</span>
                <h3>Shampoo</h3>
              </div>
            </a>
            <br><br>
          </div>
          <div class="col-sm-4">
            <a class="block-2-item" href="/details2">
              <figure class="image">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Z_zCfGLXF9ihM_T8XrnVBQHaHa%26pid%3DApi&f=1&ipt=709e775a925ae98e26d3caf75ca52439eafab7317988334b4721e570152ab6f3&ipo=images" alt="" class="img-fluid" />
              </figure>
              <div class="text">
                <span class="text-uppercase">Champagne Toast</span>
                <h3>Conditioner</h3>
              </div>
            </a>
            <br><br>
          </div>
          <div class="col-sm-4">
            <a class="block-2-item" href="/details3">
              <figure class="image">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fsadhev-website.s3.ap-south-1.amazonaws.com%2Fwp-content%2Fuploads%2F2020%2F07%2F21142007%2Fconditioner.png&f=1&nofb=1&ipt=d111b73ca5e49a88267170199181195e773a4a6a9514072cbbab2659aff35388&ipo=images" alt="" class="img-fluid" />
              </figure>
              <div class="text">
                <span class="text-uppercase">Hibiscus & Ceramides Long & Healthy</span>
                <h3>Conditoner</h3>
              </div>
            </a>
            <br><br>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <a class="block-2-item" href="/details4">
              <figure class="image">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.thebeautybasket.co.za%2Fwp-content%2Fuploads%2F2021%2F03%2F1615798827538-2.png&f=1&nofb=1&ipt=c7243a6eba960ba1059b602d5b35512a885208ed011cd4eedebeac1e8a57a64f&ipo=images" alt="" class="img-fluid" />
              </figure>
              <div class="text">
                <span class="text-uppercase">Japanese Cherry Blossom</span>
                <h3>Shampoo</h3>
              </div>
            </a>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>

    </div>
  </section>

  <!-- end portfolio section -->

  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="info-logo" style="margin-left: 50%;transform: translateX(-30%);">
            <a href="">
              <img src="/static/images/tres_hair_light.svg" style="width: 60%;" alt="" />
            </a>
          </div>
        </div>
     
      </div>

    </div>
  </section>

  <!-- end info_section -->

  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
  <!-- end google map js -->

  <!-- <script>
    $(".slider-for").slick({
      autoplay: true,
      autoplaySpeed: 3000,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: ".slider-nav",
    });
    $(".slider-nav").slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: ".slider-for",
      dots: true,
      centerMode: true,
      focusOnSelect: true,
    });
  </script>

  <script>
    $(".slick-carousel").slick({
      infinite: true,
      slidesToShow: 3, // Shows a three slides at a time
      slidesToScroll: 1, // When you click an arrow, it scrolls 1 slide at a time
      responsive: [
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
          },
        },
        {
          breakpoint: 420,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 3,
          },
        },
      ],
    });
  </script> -->
  <script>
    window.onload = () => {
      if (localStorage.getItem("shampoo") || localStorage.getItem("mask") || localStorage.getItem("serum") || localStorage.getItem("oil")) {
        localStorage.removeItem("shampoo")
        localStorage.removeItem("mask")
        localStorage.removeItem("serum")
        localStorage.removeItem("oil")
        localStorage.removeItem('isAuth');
      }
    };
  </script>
  <script>
    document.addEventListener("contextmenu", (event) => {
      event.preventDefault();
    });
    // $(document).ready(function () {
    //   $('#img').animate({ right: '0' }, 2000);
    // });
  </script>

</body>

</html>